{# https://www.w3schools.com/css/css_navbar_horizontal.asp #}
<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:2px solid #848482;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #3EB489;
}

.active {
  background-color: #728C00;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="#home">Home</a></li>
  {% if current_user.is_authenticated %}
  {# <li style="float:left"> 'Session is: '{{ session.get('credential', None) }}</li> #}
  {# <li style="float:left">    URL is: /testdashapp/{{ session.get('credential', None) }} </li> #}
  <li style="float:right"><a href="{{ url_for('main_bp.logout') }}">Log out</a></li>
  <li style="float:right"><a href="/testdashapp/user?name={{ current_user.name }}" class="dash-link"> Embedded Dash App </a></li>
  {% endif %}
</ul>

</body>
</html>


